<a href="https://colab.research.google.com/github/Yeswanth2910/python/blob/main/functions_module_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
##Program to find the second smallest number and second largest number in a list.

In [13]:
def find_len(list1):
	length = len(list1)
	yeswanth.sort()
	print("Largest element is:", yeswanth[length-1])
	print("Smallest element is:", yeswanth[0])
	print("Second Largest element is:", yeswanth[length-2])
	print("Second Smallest element is:", yeswanth[1])
yeswanth=[12, 4, 45 ,23, 42,10]
Largest = find_len(list1)

Largest element is: 45
Smallest element is: 4
Second Largest element is: 42
Second Smallest element is: 10

In [10]:
##Program to get the maximum and minimum value in a dictionary

In [14]:
Tv = {'yeswanth':100, 'amruth':1292, 'TMKUC' : 88}
Keymax = max(zip(Tv.values(), Tv.keys()))[1]
print(Keymax)

amruth

In [ ]:
Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]