<a href="https://colab.research.google.com/github/Yeswanth2910/python/blob/main/over_view.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if 5>2 :
  print("Five is greater than two")

Five is greater than two

In [2]:
x = int(3)
y = str(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [3]:
x = 3
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [4]:
x,y,z = "amruth","varsh","ashok"
print(x)
print(y)
print(z)

amruth
varsh
ashok

In [5]:
x = "we all chil"
print(x)

we all chil

In [6]:
x = "print"
y = "amruth"
z = "dp"
print(x+y+z)

printamruthdp

In [7]:
x = "print"
y = 5
print(x,y)

print 5

In [8]:
x = "awesome"

def myfunc():
  print(x+"Python is ")

myfunc()

awesomePython is

In [9]:
x = "awesome"
def myfunc():
  x = "amruth"
  print(x+" weds tanusha")
myfunc()
print("amruth"+x)

amruth weds tanusha
amruthawesome

In [10]:
a = "kane williamson"
print(a[1])

a

In [11]:
a = ("dajchyuglfihwe oefhiowjkf fbauifhbf")
print("free" in a)

False