<a href="https://colab.research.google.com/github/Yeswanth2910/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#insert name in list
fruits = ["apple","mango","cherry"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'mango', 'cherry']

In [2]:
#addition of names
fruit = ["mango"]
fruits = ["apple","banana","cherry"]
fruit.extend(fruits)
print(fruits)

['apple', 'banana', 'cherry']

In [3]:
a = "rrr movie has been released"
print(a.lower())

rrr movie has been released

In [4]:
# strip method
a ="        RRR movie           has been released"
print(a.strip())

RRR movie           has been released

In [6]:
# replace the letter
a = " vaswanth kasa"
print(a.replace("v","y"))

 yaswanth kasa

In [8]:
#replacing the word
a = "RRR movie has been released"
print(a.replace("RRR","WATER AND FIRE"))

WATER AND FIRE movie has been released

In [9]:
# split string
a= "RRR , movie , has , been,  released"
print(a.split(","))

['RRR ', ' movie ', ' has ', ' been', '  released']

In [10]:
# string concatenation
a = "RRR movie has been released"
b = "i went to movie with my friends"
c=a+b
print(c)

RRR movie has been releasedi went to movie with my friends

In [11]:
# string concatenation with space
a ="RRR movie has been released"
b="i went to movie with my friends"
c=a+" "+b
print(c)

RRR movie has been released i went to movie with my friends

In [16]:
quantity =int(input("enter quantity"))
itemno =int(input("enter item number"))
price = int(input("enter amount"))
total = quantity * price
bill ="i buy {} bags item no is {} total price is {}"
print(bill.format(quantity,itemno,total))

enter quantity45
enter item number5
enter amount500
i buy 45 bags item no is 5 total price is 22500

In [18]:
#marks
a = int(input("enter the marks"))
b = int(input("enter the marks"))
c = int(input("enter the marks"))
d = int(input("enter the marks"))
result ="sub a {}, sub b {},sub c{}, sub d{}"
print(result.format(a,b,c,d))

enter the marks45
enter the marks56
enter the marks89
enter the marks56
sub a 45, sub b 56,sub c89, sub d56

In [19]:
#escape characters
a =  "we are the so called \"vikings\" from the north."
print(a)

we are the so called "vikings" from the north.

In [20]:
text = "this will insert one \\ (backslash)."
print(text)

this will insert one \ (backslash).

In [22]:
# new line 
text = "hello\nworld"
print(text)

hello
world

In [27]:
#string methods
a = "yeswanth"
b = a.capitalize()
print(b)

Yeswanth

In [28]:
a = "yeswanth"
b = a.casefold()
print(b)

yeswanth

In [29]:
a = "yeswanth"
b = a.center(30)
print(b)

           yeswanth